
  <div id="main-wrapper">
    <div>
      <form [formGroup]="productForm" cdkFocusInitial>
        <div class="form-group">
          <mat-form-field  class="custom-field">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="" class="form-control" id="name" formControlName="productname"
              [ngClass]="{'is-invalid':!productForm.get('productname')?.valid &&
              productForm.get('productname')?.touched}">
            </mat-form-field>

            <span class="invalid-feedback">
              @if (productForm.get('productname')?.hasError('required')) {
                <span>
                  Please enter a product name.
                </span>
              }
            </span>

          </div>
          <div class="form-group">
            <mat-form-field  class="custom-field">
              <mat-label>Quantity</mat-label>
              <input matInput placeholder="" class="form-control" id="name" formControlName="quantity"
            [ngClass]="{'is-invalid':!productForm.get('quantity')?.valid &&
            productForm.get('quantity')?.touched}">
              </mat-form-field>

              <!-- <label for="name">Quantity</label>
              <input type="text" class="form-control" id="name" formControlName="quantity"
            [ngClass]="{'is-invalid':!productForm.get('quantity')?.valid &&
            productForm.get('quantity')?.touched}"> -->

                <span class="invalid-feedback">
                  @if (productForm.get('quantity')?.hasError('required')) {
                    <span>
                      Please enter a quantity.
                    </span>
                  }
                </span>

              </div>
              <div class="form-group">
                <mat-form-field  class="custom-field">
                  <mat-label>Unit Price</mat-label>
                  <input matInput placeholder="" class="form-control" id="name" formControlName="unitPrice"
            [ngClass]="{'is-invalid':!productForm.get('unitPrice')?.valid &&
            productForm.get('unitPrice')?.touched}">
                  </mat-form-field>

                  <span class="invalid-feedback">
                    @if (productForm.get('unitPrice')?.hasError('required')) {
                      <span>
                        Please enter a unit price.
                      </span>
                    }
                  </span>
                </div>
                <div class="form-group">

                  <mat-form-field appearance="fill" class="custom-field">
                    <mat-label>Select Product</mat-label>
                    <mat-select formControlName="category">
                      <mat-option [value]="">Select Product</mat-option>
                      @for(category of categories$ | async; track i; let i = $index) {
                        <mat-option [value]="category.categoryId">
                          {{ category.categoryName}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <!-- <select formControlName="category">
                  <option value="">Select Product</option>
                  <option *ngFor="let category of categories$ | async"
                    [ngValue]="category.categoryId"
                  >{{category.categoryName}}</option>
                </select> -->
              </div>

              @if (isEdit) {
                <button class="btn btn-success"
                  (click)="update(productForm)"
                  [disabled]="!productForm.valid"
                >Update</button>
              }
              @if (!isEdit) {
                <button class="btn btn-success"
                  (click)="create(productForm)"
                >Add</button>
              }
            </form>
          </div>
        </div>
