
<div class="dashboard-container row p-3">
    <div class="dashboard-header">
        <div class="sales-info-panel">
            <header class="sales-info-heading">
                <h1>Welcome, {{welcomeName}}</h1>
                <p>Choose from a date from 1996 - 1998 to see the Northwind data update in the data visualizations.</p>
            </header>
            <app-sales-total-cards  
            [beginningDate]="beginningDate" 
            [endingDate]="endingDate">
            </app-sales-total-cards>
        </div>


        <mat-calendar
        (selectedChange)="onDateRangeSelected($event)"
        [minDate]="min"
        [maxDate]="max">
        </mat-calendar>

    </div>
    <section class="detail-information row">

        <div class="col">
            <mat-card class="p-3 mb-4">
                <article class="chart">
                    <app-bar-chart 
                    [beginningDate]="beginningDate" 
                    [endingDate]="endingDate"
                    ></app-bar-chart>
                </article>
            </mat-card>
        </div>

        <div class="col">
        <app-card-basic class="overall-sales">
            <div content-header>
                <h3>Overall Sales</h3>
                <p class="overall-costs">{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</p>
            </div>
            <div content-body>
                <p>Cumulative costs since last March: {{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</p>
                <h4>THIS MONTH <span>{{basicCost | currency:'USD':'symbol':'1.0-0' }}</span></h4>
            </div>
            <div content-footer>
                <article>
                    <h4>Water</h4>
                    <p>185.2k Gal</p>
                    <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                </article>
                <article>
                    <h4>Coal</h4>
                    <p>41.2k Mb</p>
                    <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                </article>
                <article>
                    <h4>Coal</h4>
                    <p>41.2k Mb</p>
                    <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                </article>                
            </div>
        </app-card-basic>
        </div>
    </section>

    <section class="basic-information row">
        <div class="col">
            <mat-card class="p-3 mb-4">
                <article class="chart">
                    <app-donut-chart></app-donut-chart>
                </article>
            </mat-card>
        </div>
        <div class="col">
            <app-card-basic class="verified-savings">
                <div content-header>
                    <h3>Occupied Spaciacl Costs</h3>
                    <p class="overall-costs">{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</p>
                </div>
                <div content-body>
                    <p><strong>Estimated Influenced Sales drivers</strong></p>
                    <h4>Top Sales Influences</h4>

                    @for(driver of drivers; track driver.id){
                        <article >
                            <span class="driver-id">{{driver.id}}</span>
                            <p><strong>{{driver.name}}</strong></p>
                            <span class="driver-cost"><strong>{{driver.cost | currency:'USD':'symbol':'1.0-0' }}</strong></span>
                        </article>        
                    }
                </div>
                <div content-footer>
                    <article>
                        <h4>Water</h4>
                        <p>185.2k Gal</p>
                        <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                    </article>
                    <article>
                        <h4>Coal</h4>
                        <p>41.2k Mb</p>
                        <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                    </article>
                    <article>
                        <h4>Coal</h4>
                        <p>41.2k Mb</p>
                        <span>{{averageSaleCost | currency:'USD':'symbol':'1.0-0' }}</span>
                    </article>        
                </div>
            </app-card-basic>
            </div>        
    </section>

    <section class="order-history">
        <div class="col">
            <mat-card class="p-3 mb-4">
                <article class="d-block gap-3"> 
                    <h3 class="text-uppercase text-secondary" >Order Details</h3>
                </article>
                <article class="orders">
                    <app-order-history></app-order-history>
                </article>
            </mat-card>
        </div>
    </section>
</div>