<div class="chart-container">
  @if (weeklyChartData$ | async; as weeklyData) {
  <div class="kpi-container">
    <div class="kpi-card">
      <h2>5,689</h2>
      <p>New Orders</p>
    </div>
  
    <div class="kpi-card">
      <h2>32,568</h2>
      <p>This Month</p>
    </div>
  
    <div class="kpi-card">
      <h2>$23,464</h2>
      <p>Expected Profit</p>
    </div>
  </div>
  
  <div class="chart-card">
    @if(weeklyData.datasets.length){
    <canvas baseChart height="400"
      [data]="weeklyData"
      [options]="weeklyChartOptions"
      chartType="line">
    </canvas>
  } @else {
    <p class="text-secondary text-center my-5">
      No sales found for this date range.
    </p>
  }
  </div> 
  } @else {
    <div class="loading-container">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  } 
</div>
