/* Background */
:host {
  display: block;
  width: 100%;
}

header {
  margin: 0 10px 75px 10px;
  padding: 0 2% 2% 2%;
  border-left: 5px solid #313334;

  h1 {
    color: #313334;
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    font-size: 3em;
  }

  p {
    font-family:Bitter, Arial, Helvetica, sans-serif;
    width:45%;
  }
}

/* Wrapper */
#main-wrapper {
  background-color:#fff;
  width:95%;
  margin-top:50px;
  margin-left:25px;
  margin-bottom: 100px;

  mat-table {
    tr {
      display: flex;
    }

    td, th {  
      flex: 1 1 0;
    }

    td:nth-of-type(2), th:nth-of-type(2) {
      flex: 2 1 0;
    }

    .cdk-column-rating {
      flex: 1.5 1 0;
    }    
  }

  .product-classification {
    font-size: 16px;
    font-family: roboto, sans-serif;
    background-color: #313334;
    color: #fff;
    padding: 10px;
  }
}

/* Remove old flex table rules */
.table-mat {
  width:100%;
  padding:1%;
}

.table-mat tr:nth-child(even){
  background-color: #f3f6f7;
}

/* Mobile hiding rules stay fine */
@media screen and (max-width:595px){
  .main-wrapper {
    margin:0;
    padding:0;
  }

  .btn-success {
    display:none;
  }

  .table-mat td:nth-child(2),
  .table-mat th:nth-child(2),
  .table-mat td:nth-child(3),
  .table-mat th:nth-child(3),
  .table-mat td:nth-child(4),
  .table-mat th:nth-child(4) {
    display:none;
  }
}

.product-navigation {
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-top:25px;
}