@if(user){
<section id="navigation">
    <div>
        <img src="assets/nw-logo.png" alt="logo" class="logo"/>
    </div>
    <nav class="navbar">
        <div class="user-icon">
            <app-users [user]="getVisitor()" [signInUser]="user" />
        </div>
        <ul>
            <li>
                <span class="user">Welcome, {{user.firstname}}</span>
                <a href="#" (click)="Logout()">Logout</a>
            </li>
        </ul>
        <button
            type="button"
            class="hamburger-menu"
            aria-label="Toggle navigation menu"
            [attr.aria-expanded]="menuOpen"
            (click)="menuToggle.emit()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</section>
}
