@use '../app/shared/mixins/color-palette.scss' as *;

mat-sidenav-container {
  height: 100vh; /* Fill the viewport vertically */
  width: 100%; /* Use the full width of the screen */
  overflow: hidden; /* Prevent any overflow */
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  position:relative;
}


  mat-sidenav {
    transition: width .25s ease;
    width:250px;

    .user-icon app-users ::ng-deep button {
      all: unset;
      cursor: pointer;
    }
  
    .user-icon app-users ::ng-deep div {
        width: unset;
    }
  
    .user-icon app-users ::ng-deep span {
        margin-left:10px;
        display: block;
    }    

    .user-icon app-users ::ng-deep .occupation {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75rem;
    };
  }

  mat-sidenav.collapsed {
    width: 60px;
  }
  
  router-outlet {
    flex: 1;
    display: block;
  }
  
  app-root {
    display: flex;
    flex-grow: 1;
  }
  

mat-toolbar {
    background-color:#3a0852;
    height:100px;
}

.fa {
  margin-right: 10px;
}

a {
  border-radius: unset;
  padding:5px;

  .label{
    color: #5e5d5d;
  }
}

a.active {
  background: $color-violet-deep;  
  border-radius: unset;
  color: #fff;
}

a.active span, a.active i {
  color: #fff;
}



@media screen and (max-width: 1024px) {
    mat-sidenav {
    width: 250px;
    max-width: 85vw;
  }

  mat-sidenav.collapsed {
    width: 250px;
  }

  .collapse-btn-container {
    display: none;
    }
}