
@if(isLoggedIn){ 
<app-nav></app-nav>
<app-loading-spinner />
<mat-sidenav-container class="layout"> 
  <mat-sidenav #sidenav 
  mode="side" 
  [opened]="true"
  [class.collapsed]="isCollapsed"
  class="sidebar"> 
      <!-- Floating collapse button -->
      <div class="collapse-btn-container ">
        <button mat-icon-button class="collapse-btn" (click)="isCollapsed = !isCollapsed">
          <span class="fa" [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-left'"></span>
        </button>
      </div>
      <div class="user-icon">
        <app-users [user]="getVisitor()" [signInUser]="user"/>
      </div>
      <mat-nav-list>
  
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="fa fa-dashboard"></span>
          <span class="label">Dashboard</span>
        </a>
  
        <a mat-list-item routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-archive"></i>
          <span class="label">Product</span>
        </a>

         <a mat-list-item routerLink="/territories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-archive"></i>
          <span class="label">Territories</span>
        </a> 
        <a mat-list-item routerLink="/admin" outerLinkActive="active" *appDisplayLink>
            <i class="fa fa-shopping-cart"></i>
            <span class="label">Admin Users</span>
        </a>   
        <a mat-list-item href="https://mwhitfieldwork.github.io/portfolio/#home" routerLinkActive="active" *appDisplayLink>
            <i class="fa fa-briefcase"></i>
            <span class="label">Portfolio</span>
        </a>
        <a mat-list-item href="https://grithoodies.com" routerLinkActive="active" *appDisplayLink>
            <i class="fa fa-shopping-cart"></i>
            <span class="label">Shop</span>
        </a>          
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 
}@else {
    <router-outlet></router-outlet>
}

