
        @if (orders$ | async) {
        <mat-table mat-table [dataSource]="dataSource" matSort class="table-mat mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="select-row-tr">
                    <mat-checkbox (change)="$event ? toggleAllRows() : null" 
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="select-ro-td">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="onCheckboxChange($event, row)"
                                [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
                <td mat-cell *matCellDef="let element"> {{element.unitPrice | customNumber:'tens'}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>Quantity </th>
                <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.quantity"> </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header>Status </th>
                <td mat-cell *matCellDef="let element" class="status">
                    <span [ngClass]="{'shipped': element.status === 'Shipped', 
                                    'pending': element.status === 'Pending', 
                                    'processing': element.status === 'Processing'}"></span>
                    <span>{{element.status}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating</th>
                <td mat-cell *matCellDef="let element">
                    <app-rating [score]="element.rating" [color]="'#4C1D95'"></app-rating>                 
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>
        }