.admin-panel-container {
  width: 95%;
  height: 100%;
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom:75px;

}

.admin-user-panel {
	display: grid;
	gap: 0.75rem;
  	margin-top: 50px;
  	margin-left: 25px;

	form, select {
		width:45%;
	}
}

.admin-header {
	font-size: 16px;
	font-family: roboto, sans-serif;
	background-color: #313334;
	color: #fff;
	padding: 10px;
}

form {
	display: grid;
	gap: 0.5rem;
}

input,
select,
button {
	font: inherit;
	padding: 0.5rem;
}

.checkbox-label {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

small,
.error {
	color: #b42318;
}

header {
  margin: 25px 10px 75px 0px;
  padding: 0 2% 2% 2%;
  border-left: 5px solid #313334;

  h1 {
    color: #313334;
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    font-size: 3em;
  }

  p {
    font-family:Bitter, Arial, Helvetica, sans-serif;
    width:45%;
  }
}
