.bar-chart, .chart-lines {
    width:100%;
    height:300px;
}

/*.chart-wrap,
.chart-wrap * {
    overflow: visible !important;
    border-radius: 0 !important;
    width:400px;
}*/

canvas {
    background: none !important;
    border:unset !important;
}

.grid {
    stroke: none !important;
}

.bar-chart{
    background-color:#fff;
}

select {
    margin-right:15px;
}

.sales-shell {
    border:unset !important
}

.edit-categories{
    display: flex;
    justify-content: end;

    .btn {
        margin-right:5px;
    }
}

.controls {
  display: flex;
  flex-direction: column;

  .full-width {
    width: 90%;
  }
}

.chart-wrap {
  position: relative;   // Chart.js needs this
  height: 260px !important;

  @media (min-width: 1200px) { height: 360px!important; }
  @media (min-width: 1600px) { height: 460px!important; }
}