  <h1>Employee Territories </h1>
<section class="territory-map">
  <div class="employee-table-container">
    <table class="employee-table">
      <thead>
        <tr>
          <th class="col-photo"></th>
          <th>Employee</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees; track employee.employeeId) {
          <tr (click)="focusEmployeeOnMap(employee.employeeId)"
    [class.selected]="employee.employeeId === selectedEmployeeId">
            <td class="col-photo">
              <img [src]="employee.photoPath" [alt]="employee.firstName" width="30" height="30" style="border-radius:50%;"/>
            </td>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <google-map [center]="center" [zoom]="zoom" [options]="mapOptions" height="600px" width="100%">
    @for (marker of (markers$ | async) ?? []; track marker.territoryId) {
      <map-marker
        #markerRef="mapMarker"
        [position]="marker.position"
        [options]="marker.options"
        (mapClick)="onMarkerClick(marker, markerRef, info)">
      </map-marker>
    }
    <map-info-window #info="mapInfoWindow">
      @if (selectedMarker) {
        <div class="info-window">
          <strong>{{ selectedMarker.city }}</strong><br />
          Region: {{ selectedMarker.regionDescription }}<br />
          @if (selectedMarker.employeeName) {
            {{ selectedMarker.employeeName }}<br />
            <span>{{ selectedMarker.employeeTitle }}</span>
          } @else {
            <em>Unassigned</em>
          }
        </div>
      }
    </map-info-window>
  </google-map>
</section>
